.banner {
    background-color: #0F1C2A;
    font-size: 4rem;
    color: #FFFFFF;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
}

.btn-primary:hover {
    color: #3E64FF !important;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}